h1 {
	color: green;
	background: yellow;
}

h2 {
	color: red;
	font-style:italic;
}

h2#history {
	/*background-color: green;*/
}

#mainnav ul{
	padding:0;
}

#mainnav li {
  display: inline;
  margin-right: 15px;
  list-style-type: none;
}
