html {
    background-color: #eaeaea; 
}

body{
    width:80%;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h2 {
    text-decoration: underline;
    text-decoration-color: #71bdff;
    text-decoration-thickness: 50%;
    margin-top: 10%;
}
p {
    line-height: 130%;
    color: #585858
}

#code ul{
    margin: 3% 0 0 0;
}

#code a {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

footer {
    position: fixed;
    bottom: 3%;
    background-color: #eaeaea; 
}